.card {
  display: flex;
  justify-content: center;

  padding-block: 20px;
  padding-inline: 50px;

  border: 1px solid #0ada25;
  border-radius: 10px;

  transition: background 0.2s ease;

  cursor: pointer;
}

.card:hover {
  background-color: #0ada265e;
}
